{% extends 'admin/base_site.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/admin_style.css' %}" />

{% block extrahead %}
  {{ block.super }}
  <style>
    :root {
      --primary: #3869a1;
    }
  </style>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
{% endblock %}

{% block branding %}
  <div style="display: flex; justify-content: start; align-items: center; width: 200px;">
    <img style="width: 100%; padding: 0px 1px 5px;" src="{% static 'images/logo_1.svg' %}" alt="logo" />
  </div>
{% endblock %}
